<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.newdawn.soiapp.refresh</string>
		<string>com.newdawn.soiapp.processing</string>
	</array>

	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>

	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>SOI</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>soi_app</string>

	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>

	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
				<string>app-1-1074708164096-ios-f6a0558949723c8c4d32e5</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>soi.deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>soi</string>
			</array>
		</dict>
	</array>

	<key>CFBundleVersion</key>
	<string>35</string>

	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_YOUR_LIVE_KEY_HERE</string>
		<key>test</key>
		<string>key_test_YOUR_TEST_KEY_HERE</string>
	</dict>

	<key>branch_use_test_instance</key>
	<true/>

	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>FirebaseAuthCAPTCHAFallbackEnabled</key>
	<false/>
	<key>FirebaseAuthReCAPTCHABypassEnabled</key>
	<true/>

	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>googleapis.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
			</dict>
			<key>www.google.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
			</dict>
			<key>www.gstatic.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
			</dict>
		</dict>
	</dict>

	<key>NSCameraUsageDescription</key>
	<string>SOI는 친구들과 순간을 공유하기 위해 카메라 접근 권한이 필요합니다...</string>

	<key>NSContactsUsageDescription</key>
	<string>SOI는 연락처에 저장된 친구들을 쉽게 찾고 초대하기 위해 연락처 접근 권한이 필요합니다...</string>

	<key>NSMicrophoneUsageDescription</key>
	<string>SOI는 동영상 촬영 시 오디오를 녹음하고...</string>

	<key>NSLocationWhenInUseUsageDescription</key>
	<string>SOI는 사진에 촬영 위치 정보를...</string>

	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>SOI에서 촬영하거나 편집한 사진과 동영상을...</string>

	<key>NSPhotoLibraryUsageDescription</key>
	<string>SOI는 기기에 저장된 사진과 동영상을...</string>

	<key>FlutterDeepLinkingEnabled</key>
	<false/>

	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
		<string>processing</string>
	</array>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>

	<key>UIMainStoryboardFile</key>
	<string>Main</string>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>io.flutter.embedded_views_preview</key>
	<true/>

	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>http</string>
		<string>https</string>
	</array>

	<key>UIStatusBarHidden</key>
	<false/>

	<key>FLTEnableWideGamut</key>
	<false/>

	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>

	<key>NSBonjourServices</key>
	<array>
		<string>_dartobservatory._tcp</string>
		<string>_dartVmService._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>디버깅을 위해 이 iPhone과 Flutter 개발 도구가 같은 네트워크에서 통신할 수 있도록 허용합니다.</string>
</dict>
</plist>
