{"openapi":"3.0.1","info":{"title":"SOI API","description":"SOI 애플리케이션을 위한 REST API 문서","contact":{"name":"SOI","url":"https://github.com/NewdawnSOI","email":"itisnewdawn@gmail.com"},"version":"v1.0.0"},"servers":[{"url":"https://newdawnsoi.site","description":"현재 서버"},{"url":"http://localhost:8080","description":"로컬 개발 서버"}],"tags":[{"name":"User API","description":"사용자 관리 API"},{"name":"comment API","description":"댓글 관련 API"},{"name":"category API","description":"카테고리 관련 API"},{"name":"friend API","description":"친구 관리 API"},{"name":"post API","description":"게시물 관련 API"},{"name":"notification API","description":"알림 관련 API"}],"paths":{"/user/login":{"post":{"tags":["User API"],"summary":"사용자 로그인(전화번호로)","description":"인증이 완료된 전화번호로 로그인을 합니다.","operationId":"login","parameters":[{"name":"phoneNum","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserRespDto"}}}}}}},"/user/create":{"post":{"tags":["User API"],"summary":"사용자 생성","description":"새로운 사용자를 등록합니다.","operationId":"createUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserCreateReqDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserRespDto"}}}}}}},"/user/auth":{"post":{"tags":["User API"],"summary":"전화번호 인증","description":"사용자가 입력한 전화번호로 인증을 발송합니다.","operationId":"authSMS","parameters":[{"name":"phoneNum","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/user/auth/check":{"post":{"tags":["User API"],"summary":"전화번호 인증확인","description":"사용자 전화번호와 사용자가 입력한 인증코드를 보내서 인증확인을 진행합니다.","operationId":"checkAuthSMS","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthCheckReqDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/post/create":{"post":{"tags":["post API"],"summary":"게시물 추가","description":"게시물을 추가합니다.","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostCreateReqDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoBoolean"}}}}}}},"/notification/get-friend":{"post":{"tags":["notification API"],"summary":"친구관련 알림 조회","description":"친구 요청 알림들을 조회합니다.","operationId":"getFriend","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListNotificationRespDto"}}}}}}},"/notification/get-all":{"post":{"tags":["notification API"],"summary":"알림 조회","description":"알림들을 조회합니다.","operationId":"getAll","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoNotificationGetAllRespDto"}}}}}}},"/media/upload":{"post":{"tags":["사진, 비디오, 음성 파일을 전송하는 API"],"summary":"미디어 업로드","description":"단일, 여러개의 파일을 올릴 수 있습니다. 여러개의 파일 업로드시 , 로 구분해서 type을 명시합니다.id값은 고유 id를 받습니다.","operationId":"uploadMedia","parameters":[{"name":"types","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"usageTypes","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}},{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"refId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"usageCount","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"required":["files"],"type":"object","properties":{"files":{"type":"array","items":{"type":"string","format":"binary"}}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListString"}}}}}}},"/friend/update":{"post":{"tags":["friend API"],"summary":"친구 상태 업데이트","description":"친구 관계 id, 상태 : ACCEPTED, CANCELLED 를 받아 상태를 업데이트합니다.","operationId":"update","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FriendUpdateRespDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoFriendRespDto"}}}}}}},"/friend/unblock":{"post":{"tags":["friend API"],"summary":"친구 차단 해제","description":"차단 해제 요청을 한 사용자의 id : requesterId에\n차단 해제를 당하는 사용자의 id : receiverId에 담아서 요청차단 해제후에는 친구 관계가 완전 초기화 (삭제) 됩니다.","operationId":"unBlockFriend","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FriendReqDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoBoolean"}}}}}}},"/friend/delete":{"post":{"tags":["friend API"],"summary":"친구 삭제","description":"삭제 요청을 한 사용자의 id : requesterId에\n삭제를 당하는 사용자의 id : receiverId에 담아서 요청\n만약 삭제후, 서로가 삭제된 관계면 친구 관계 컬럼을 삭제함","operationId":"deleteFriend","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FriendReqDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoBoolean"}}}}}}},"/friend/create":{"post":{"tags":["friend API"],"summary":"친구 추가","description":"사용자 id를 통해 친구추가를 합니다.","operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FriendCreateReqDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoFriendRespDto"}}}}}}},"/friend/block":{"post":{"tags":["friend API"],"summary":"친구 차단","description":"차단 요청을 한 사용자의 id : requesterId에\n차단을 당하는 사용자의 id : receiverId에 담아서 요청","operationId":"blockFriend","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FriendReqDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoBoolean"}}}}}}},"/comment/create":{"post":{"tags":["comment API"],"summary":"댓글 추가","description":"댓글을 추가합니다.","operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentReqDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoObject"}}}}}}},"/category/set/profile":{"post":{"tags":["category API"],"summary":"카테고리 프로필 수정","description":"카테고리 아이디, 유저 아이디, 수정할 프로필 사진을 받아 프로필을 수정합니다.\n기본 프로필로 변경하고싶으면 profileImageKey에 \"\" 을 넣으면 됩니다.","operationId":"customProfile","parameters":[{"name":"categoryId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"profileImageKey","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoBoolean"}}}}}}},"/category/set/pinned":{"post":{"tags":["category API"],"summary":"카테고리 고정","description":"카테고리 아이디, 유저 아이디로 카테고리를 고정 혹은 고정해제 시킵니다.","operationId":"categoryPinned","parameters":[{"name":"categoryId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoBoolean"}}}}}}},"/category/set/name":{"post":{"tags":["category API"],"summary":"카테고리 이름수정","description":"카테고리 아이디, 유저 아이디, 수정할 이름을 받아 카테고리 이름을 수정합니다.\n커스텀한 이름을 삭제하길 원하면 name에 그냥 빈값 \"\" 을 넣으면 커스텀 이름이 삭제됩니다.","operationId":"customName","parameters":[{"name":"categoryId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"name","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoBoolean"}}}}}}},"/category/set/alert":{"post":{"tags":["category API"],"summary":"카테고리 알림설정","description":"유저아이디와 카테고리 아이디로 알림을 설정합니다.","operationId":"categoryAlert","parameters":[{"name":"categoryId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoBoolean"}}}}}}},"/category/invite":{"post":{"tags":["category API"],"summary":" 카테고리에 유저 추가(초대)","description":"이미 생성된 카테고리에 유저를 추가(초대)할 때 사용합니다.","operationId":"inviteUser","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryInviteReqDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoBoolean"}}}}}}},"/category/invite/response":{"post":{"tags":["category API"],"summary":"카테고리에 초대된 유저가 초대 승낙여부를 결정하는 API","description":"status에 넣을 수 있는 상태 : PENDING, ACCEPTED, DECLINED, EXPIRED","operationId":"inviteResponse","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryInviteResponseReqDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoBoolean"}}}}}}},"/category/find":{"post":{"tags":["category API"],"summary":"유저가 속한 카테고리 리스트를 가져오는 API","description":"CategoryFilter : ALL, PUBLIC, PRIVATE -> 옵션에 따라서 전체, 그룹, 개인으로 가져올 수 있음","operationId":"getCategories","parameters":[{"name":"categoryFilter","in":"query","required":true,"schema":{"type":"string","enum":["ALL","PUBLIC","PRIVATE"]}},{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListCategoryRespDto"}}}}}}},"/category/delete":{"post":{"tags":["category API"],"summary":"카테고리 나가기 (삭제)","description":"카테고리를 나갑니다. (만약 카테고리에 속한 유저가 본인밖에 없으면 관련 데이터 다 삭제)","operationId":"delete","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"categoryId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoObject"}}}}}}},"/category/create":{"post":{"tags":["category API"],"summary":"카테고리 추가","description":"카테고리를 추가합니다.","operationId":"create_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryCreateReqDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoLong"}}}}}}},"/user/update":{"patch":{"tags":["User API"],"summary":"유저정보 업데이트","description":"새로운 데이터로 유저정보를 업데이트합니다.","operationId":"update_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateReqDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserRespDto"}}}}}}},"/user/update-profile":{"patch":{"tags":["User API"],"summary":"유저 프로필 업데이트","description":"유저의 프로필을 업데이트 합니다.\n기본 프로필로 변경하고싶으면 profileImageKey에 \"\" 을 넣으면 됩니다.","operationId":"updateProfile","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"profileImageKey","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserRespDto"}}}}}}},"/post/update":{"patch":{"tags":["post API"],"summary":"게시물 수정","description":"게시물을 수정합니다.","operationId":"update_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostUpdateReqDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoObject"}}}}}}},"/post/set-status":{"patch":{"tags":["post API"],"summary":"게시물 상태변경","description":"게시물 상태를 변경합니다.\nACTIVE : 활성화\nSOFTDELETE : 삭제(휴지통)\nINACTIVE : 비활성화","operationId":"setPost","parameters":[{"name":"postId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"postStatus","in":"query","required":true,"schema":{"type":"string","enum":["ACTIVE","DELETED","INACTIVE"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoObject"}}}}}}},"/user/id-check":{"get":{"tags":["User API"],"summary":"사용자 id 중복 체크","description":"사용자 id 중복 체크합니다. 사용가능 : true, 사용불가(중복) : false","operationId":"idCheck","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoBoolean"}}}}}}},"/user/get":{"get":{"tags":["User API"],"summary":"특정유저 조회","description":"유저의 id값(Long)으로 유저를 조회합니다.","operationId":"getUser","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserRespDto"}}}}}}},"/user/get-all":{"get":{"tags":["User API"],"summary":"모든유저 조회","description":"모든유저를 조회합니다.","operationId":"getAllUsers","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListUserFindRespDto"}}}}}}},"/user/find-by-keyword":{"get":{"tags":["User API"],"summary":"키워드로 사용자 검색","description":"키워드가 포함된 userId를 갖고있는 사용자를 전부 검색합니다.","operationId":"findUser","parameters":[{"name":"nickname","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListUserRespDto"}}}}}}},"/post/find-by/category":{"get":{"tags":["post API"],"summary":"카테고리에 해당하는 게시물 조회","description":"카테고리 아이디, 유저아이디로 해당 카테고리에 속한 게시물을 조회합니다.\n page에 원하는 페이지 번호를 입력 0부터 시작","operationId":"findByCategoryId","parameters":[{"name":"categoryId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"notificationId","in":"query","required":false,"schema":{"type":"integer","format":"int64"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListPostRespDto"}}}}}}},"/post/find-all":{"get":{"tags":["post API"],"summary":"전체 게시물 조회","description":"사용자가 포함된 카테고리의 모든 게시물을 상태 (활성화, 삭제됨, 비활성화)에따라 리턴해줌\n page에 원하는 페이지 번호를 입력 0부터 시작","operationId":"findAllByUserId","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"postStatus","in":"query","required":true,"schema":{"type":"string","enum":["ACTIVE","DELETED","INACTIVE"]}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListPostRespDto"}}}}}}},"/post/detail":{"get":{"tags":["post API"],"summary":"단일 게시물 조회","description":"게시물 id로 해당 게시물의 상세정보를 조회합니다.","operationId":"showDetail","parameters":[{"name":"postId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoPostRespDto"}}}}}}},"/media/get-url":{"get":{"tags":["사진, 비디오, 음성 파일을 전송하는 API"],"summary":"Presigned URL 요청","description":"DB에 저장된 S3 key를 입력하면 1시간 유효한 접근 URL을 반환합니다.","operationId":"getPresignedUrl","parameters":[{"name":"key","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListString"}}}}}}},"/friend/get-all":{"get":{"tags":["friend API"],"summary":"모든 친구 조회","description":"유저의 id (user_id 말고 그냥 id)를 통해 모든 친구를 조회합니다.","operationId":"getAllFriend","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"friendStatus","in":"query","required":true,"schema":{"type":"string","enum":["PENDING","ACCEPTED","BLOCKED","CANCELLED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListUserFindRespDto"}}}}}}},"/friend/check-friend-relation":{"get":{"tags":["friend API"],"summary":"연락처에 있는 친구들 관계확인","description":"유저의 id와 연락처에 있는 친구들 전화번호를 List로 받아서 관계를 리턴합니다.","operationId":"getAllFriend_1","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"friendPhoneNums","in":"query","required":true,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListFriendCheckRespDto"}}}}}}},"/comment/get":{"get":{"tags":["comment API"],"summary":"댓글 조회","description":"게시물에 달린 댓글을 조회합니다.","operationId":"getComment","parameters":[{"name":"postId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListCommentRespDto"}}}}}}},"/user/delete":{"delete":{"tags":["User API"],"summary":"Id로 사용자 삭제","description":"Id 로 사용자를 삭제합니다.","operationId":"deleteUser","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoUserRespDto"}}}}}}},"/post/delete":{"delete":{"tags":["post API"],"summary":"게시물 삭제","description":"id로 게시물을 삭제합니다.","operationId":"delete_1","parameters":[{"name":"postId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoObject"}}}}}}},"/comment/delete":{"delete":{"tags":["comment API"],"summary":"댓글 삭제","description":"id를 통해서 댓글을 삭제합니다.","operationId":"deleteComment","parameters":[{"name":"postId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDtoListObject"}}}}}}}},"components":{"schemas":{"ApiResponseDtoUserRespDto":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/UserRespDto"},"message":{"type":"string"}}},"UserRespDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nickname":{"type":"string"},"name":{"type":"string"},"profileImageKey":{"type":"string"},"birthDate":{"type":"string"},"phoneNum":{"type":"string"}}},"UserCreateReqDto":{"type":"object","properties":{"name":{"type":"string"},"nickname":{"type":"string"},"phoneNum":{"type":"string"},"birthDate":{"type":"string"},"profileImageKey":{"type":"string"},"serviceAgreed":{"type":"boolean"},"privacyPolicyAgreed":{"type":"boolean"},"marketingAgreed":{"type":"boolean"}}},"AuthCheckReqDto":{"type":"object","properties":{"phoneNum":{"type":"string"},"code":{"type":"string"}}},"PostCreateReqDto":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"nickname":{"type":"string"},"content":{"type":"string"},"postFileKey":{"type":"array","items":{"type":"string"}},"audioFileKey":{"type":"array","items":{"type":"string"}},"categoryId":{"type":"array","items":{"type":"integer","format":"int64"}},"waveformData":{"type":"string"},"duration":{"type":"integer","format":"int32"}}},"ApiResponseDtoBoolean":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"boolean"},"message":{"type":"string"}}},"ApiResponseDtoListNotificationRespDto":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/NotificationRespDto"}},"message":{"type":"string"}}},"NotificationRespDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"text":{"type":"string"},"name":{"type":"string"},"nickname":{"type":"string"},"userProfileKey":{"type":"string"},"imageUrl":{"type":"string"},"type":{"type":"string","enum":["CATEGORY_INVITE","CATEGORY_ADDED","PHOTO_ADDED","COMMENT_ADDED","COMMENT_AUDIO_ADDED","COMMENT_REACT_ADDED","FRIEND_REQUEST","FRIEND_RESPOND"]},"isRead":{"type":"boolean"},"categoryIdForPost":{"type":"integer","format":"int64"},"relatedId":{"type":"integer","format":"int64"}}},"ApiResponseDtoNotificationGetAllRespDto":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/NotificationGetAllRespDto"},"message":{"type":"string"}}},"NotificationGetAllRespDto":{"type":"object","properties":{"friendReqCount":{"type":"integer","format":"int32"},"notifications":{"type":"array","items":{"$ref":"#/components/schemas/NotificationRespDto"}}}},"ApiResponseDtoListString":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"type":"string"}},"message":{"type":"string"}}},"FriendUpdateRespDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["PENDING","ACCEPTED","BLOCKED","CANCELLED"]},"notificationId":{"type":"integer","format":"int64"}}},"ApiResponseDtoFriendRespDto":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/FriendRespDto"},"message":{"type":"string"}}},"FriendRespDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"requesterId":{"type":"integer","format":"int64"},"receiverId":{"type":"integer","format":"int64"},"notificationId":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["PENDING","ACCEPTED","BLOCKED","CANCELLED"]},"createdAt":{"type":"string","format":"date-time"}}},"FriendReqDto":{"type":"object","properties":{"requesterId":{"type":"integer","format":"int64"},"receiverId":{"type":"integer","format":"int64"}}},"FriendCreateReqDto":{"type":"object","properties":{"requesterId":{"type":"integer","format":"int64"},"receiverPhoneNum":{"type":"string"}}},"CommentReqDto":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"emojiId":{"type":"integer","format":"int64"},"postId":{"type":"integer","format":"int64"},"text":{"type":"string"},"audioKey":{"type":"string"},"waveformData":{"type":"string"},"duration":{"type":"integer","format":"int32"},"locationX":{"type":"number","format":"double"},"locationY":{"type":"number","format":"double"},"commentType":{"type":"string","enum":["EMOJI","TEXT","AUDIO"]}}},"ApiResponseDtoObject":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"object"},"message":{"type":"string"}}},"CategoryInviteReqDto":{"type":"object","properties":{"requesterId":{"type":"integer","format":"int64"},"receiverId":{"type":"array","items":{"type":"integer","format":"int64"}},"categoryId":{"type":"integer","format":"int64"}}},"CategoryInviteResponseReqDto":{"type":"object","properties":{"categoryId":{"type":"integer","format":"int64"},"responserId":{"type":"integer","format":"int64"},"status":{"type":"string","enum":["PENDING","ACCEPTED","DECLINED","EXPIRED"]}}},"ApiResponseDtoListCategoryRespDto":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CategoryRespDto"}},"message":{"type":"string"}}},"CategoryRespDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"nicknames":{"type":"array","items":{"type":"string"}},"categoryPhotoKey":{"type":"string"},"isNew":{"type":"boolean"},"totalUserNum":{"type":"integer","format":"int32"},"isPinned":{"type":"boolean"},"usersProfileKey":{"type":"array","items":{"type":"string"}},"pinnedAt":{"type":"string","format":"date-time"},"lastPhotoUploadedAt":{"type":"string","format":"date-time"}}},"CategoryCreateReqDto":{"type":"object","properties":{"requesterId":{"type":"integer","format":"int64"},"name":{"type":"string"},"receiverIds":{"type":"array","items":{"type":"integer","format":"int64"}},"isPublic":{"type":"boolean"}}},"ApiResponseDtoLong":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"integer","format":"int64"},"message":{"type":"string"}}},"UserUpdateReqDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"nickname":{"type":"string"},"phoneNum":{"type":"string"},"birthDate":{"type":"string"},"profileImageKey":{"type":"string"},"marketingAgreed":{"type":"boolean"}}},"PostUpdateReqDto":{"type":"object","properties":{"postId":{"type":"integer","format":"int64"},"categoryId":{"type":"integer","format":"int64"},"nickname":{"type":"string"},"content":{"type":"string"},"postFileKey":{"type":"string"},"audioFileKey":{"type":"string"},"waveformData":{"type":"string"},"duration":{"type":"integer","format":"int32"}}},"ApiResponseDtoListUserFindRespDto":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/UserFindRespDto"}},"message":{"type":"string"}}},"UserFindRespDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"nickname":{"type":"string"},"profileImageKey":{"type":"string"},"active":{"type":"boolean"}}},"ApiResponseDtoListUserRespDto":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/UserRespDto"}},"message":{"type":"string"}}},"ApiResponseDtoListPostRespDto":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PostRespDto"}},"message":{"type":"string"}}},"PostRespDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"nickname":{"type":"string"},"content":{"type":"string"},"userProfileImageKey":{"type":"string"},"postFileKey":{"type":"string"},"audioFileKey":{"type":"string"},"waveformData":{"type":"string"},"duration":{"type":"integer","format":"int32"},"is_active":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"}}},"ApiResponseDtoPostRespDto":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"$ref":"#/components/schemas/PostRespDto"},"message":{"type":"string"}}},"ApiResponseDtoListFriendCheckRespDto":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/FriendCheckRespDto"}},"message":{"type":"string"}}},"FriendCheckRespDto":{"type":"object","properties":{"phoneNum":{"type":"string"},"isFriend":{"type":"boolean"},"status":{"type":"string","enum":["PENDING","ACCEPTED","BLOCKED","CANCELLED"]}}},"ApiResponseDtoListCommentRespDto":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CommentRespDto"}},"message":{"type":"string"}}},"CommentRespDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userProfile":{"type":"string"},"nickname":{"type":"string"},"text":{"type":"string"},"emojiId":{"type":"integer","format":"int64"},"audioUrl":{"type":"string"},"waveFormData":{"type":"string"},"duration":{"type":"integer","format":"int32"},"locationX":{"type":"number","format":"double"},"locationY":{"type":"number","format":"double"},"commentType":{"type":"string","enum":["EMOJI","TEXT","AUDIO"]}}},"ApiResponseDtoListObject":{"type":"object","properties":{"success":{"type":"boolean"},"data":{"type":"array","items":{"type":"object"}},"message":{"type":"string"}}}}}}